@font-face {
    font-family: rick;
    src: url('/assets/Tipografias/get_schwifty.ttf');
}

.App {
    text-align: center;
    background: url('/img/illustration-planet-space-sky-Earth-atmosphere-104692-wallhere.com.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: rick;
    font-size: 21px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
    /* padding-top: 10px; */
    min-height: 100vh;
    /* display: flex; */
    flex-direction: column;
}