@font-face {
    font-family: rick;
    src: url('/assets/Tipografias/get_schwifty.ttf');
}

.App {
    text-align: center;
    background: url('/img/illustration-planet-space-sky-Earth-atmosphere-104692-wallhere.com.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    font-family: rick;
    font-size: 21px;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}


.nav {
    display: flex;
    justify-content: flex-end;
    background-color: rgb(84, 84, 240);
    height: 30px;
}